@model CultureDemo.Models.Case.CaseBO
@using CultureDemo.Languages

@{
    ViewData["Title"] = "Case Details";
}

<div class="container">

    <h1>@Resources.CaseDetails</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Label</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Html.LabelFor(e => e.Case_Name)</th>
                <td>@Html.DisplayFor(e => e.Case_Name, null, new { @class = "form-control-plaintext" })</td>
            </tr>

            <tr>
                <th scope="row">@Html.LabelFor(e => e.Case_Description)</th>
                <td>@Html.DisplayFor(e => e.Case_Description)</td>
            </tr>
            <tr>
                <th scope="row">@Html.LabelFor(e => e.Case_Status)</th>
                <td>@Html.DisplayFor(e => e.Case_Status)</td>
            </tr>
            <tr>
                <th scope="row">@Html.LabelFor(e => e.Case_CreatedDateT)</th>
                <td>@Html.DisplayFor(e => e.Case_CreatedDateT)</td>
            </tr>
            <tr>
                <th scope="row">@Html.LabelFor(e => e.User_CreatedBy)</th>
                <td>@Html.DisplayFor(e => e.User_CreatedBy)</td>
            </tr>
            <tr>
                <th scope="row">@Html.LabelFor(e => e.Case_ModifiedDateT)</th>
                <td>@Html.DisplayFor(e => e.Case_ModifiedDateT)</td>
            </tr>
            <tr>
                <th scope="row">@Html.LabelFor(e => e.User_ModifiedBy)</th>
                <td>@Html.DisplayFor(e => e.User_ModifiedBy)</td>
            </tr>
        </tbody>
    </table>

    <div>
        <a class="btn btn-primary" asp-action="Index">@Resources.BackToList</a>
    </div>

</div>